/*  your css code here. If applicable */
.first{
	/*color:#2a7ae2;*/
	color: #2a7ae2;
}
.sec{
	color:#f44336;
	/*font-size:70px:*/
	/*padding:20px;*/
}
.third{
	color: #4caf50;
	
}
.forth{
	color:#ff9800;
}
.fifth{
	color:#607d8b;
}
.sixth{
	color:#ffeb3b;
}